---
import site from "../data/site.json";
import SkillItem from './SkillItem.astro';
const title = `These are skills I've mastered over the years`;
const comfortable = `Skills I'm super comfortable with`;
const mastering = `Skills I'm mastering`;
const {skills} = site;
---
<section id="skills">
    <h2>{title}</h2>
    
    <strong>{comfortable}</strong>
    <br />
    <div class="skills">
        {skills.comfortable.map((item) => (
            <SkillItem item={item} />
        ))}
    </div>

    <strong>{mastering}</strong>
    <br />
    <div class="skills">
        {skills.mastering.map((item) => (
            <SkillItem item={item} />
        ))}
    </div>
</section>
<style lang="scss">
.skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1rem 0;
    @media (min-width: 700px) {
            grid-template-columns: repeat(12, 1fr);
    }
    @media (min-width: 600px) {
        grid-template-columns: repeat(8, 1fr);
    }
}
</style>